.product-card {
    overflow-x: auto !important; 
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  
  .product-card::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
  .desktop-product-card{
    max-width: 18rem;
  }
  .mobile-product-card{
    max-width: 16rem;
  }
/* carouselIndicators.css */

.carousel-indicators {
  bottom: 10px;
}

.carousel-indicators button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #999;
  opacity: 0.5;
  border: none;
  margin: 0 4px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-indicators .active {
  background-color: #fff;
  opacity: 1;
}



  